<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MoodFlow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>moodflow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moodflow</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.moodflow.app</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.moodflow.app.spotify</string>
			<key>CFBundleURLHost</key>
			<string>moodflow-1390a.firebaseapp.com</string>
			<key>CFBundleURLPath</key>
			<string>/spotify-callback</string>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>app-settings</string>
		<string>App-prefs</string>
		<string>prefs</string>
		<string>App-Prefs</string>
		<string>spotify</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to take photos of your meals.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone for speech recognition.</string>
	<key>NSMotionUsageDescription</key>
	<string>We need access to motion sensors to create interactive confetti effects in the app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photo library to select photos of your meals.</string>
	<key>NSSiriUsageDescription</key>
	<string>This app uses Siri to quickly access VoiceOver settings</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs access to speech recognition to convert your voice to text for meal descriptions.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>OpenVoiceOverSettingsIntent</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to contacts to add trusted contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MoodFlow needs access to location to show your current position on the map and help you log your mood at specific places.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>MoodFlow needs access to location to show your current position on the map and help you log your mood at specific places.</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>GMSApiKey</key>
	<string>AIzaSyDohu3J9jw0lUyUswNP3PxiKzXKJJQJvNk</string>
</dict>
</plist>
